<a href="https://colab.research.google.com/github/RafikaSaadouni/CNN-LSTM/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
import tensorflow as tf

In [4]:
tf.__version__

'2.8.0'

In [5]:
!python3 -V

Python 3.7.12

In [6]:
data_train=pd.read_csv('/content/drive/MyDrive/data/nsl-kdd/KDDTrain+.txt',delimiter=',', header=None)
data_test=pd.read_csv('/content/drive/MyDrive/data/nsl-kdd/KDDTest+.txt' ,delimiter=',', header=None)
data_train.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal,20
1,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal,15
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,19
3,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal,21
4,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21

In [7]:
#Le fichier CSV n'a pas d'en-têtes de colonne, alors on les  ajoute 
data_train.columns = [
    'duration',
    'protocol_type',
    'service',
    'flag',
    'src_bytes',
    'dst_bytes',
    'land',
    'wrong_fragment',
    'urgent',
    'hot',
    'num_failed_logins',
    'logged_in',
    'num_compromised',
    'root_shell',
    'su_attempted',
    'num_root',
    'num_file_creations',
    'num_shells',
    'num_access_files',
    'num_outbound_cmds',
    'is_host_login',
    'is_guest_login',
    'count',
    'srv_count',
    'serror_rate',
    'srv_serror_rate',
    'rerror_rate',
    'srv_rerror_rate',
    'same_srv_rate',
    'diff_srv_rate',
    'srv_diff_host_rate',
    'dst_host_count',
    'dst_host_srv_count',
    'dst_host_same_srv_rate',
    'dst_host_diff_srv_rate',
    'dst_host_same_src_port_rate',
    'dst_host_srv_diff_host_rate',
    'dst_host_serror_rate',
    'dst_host_srv_serror_rate',
    'dst_host_rerror_rate',
    'dst_host_srv_rerror_rate',
    'outcome',
    'difficulty'
]
data_test.columns = data_train.columns

In [8]:
print(f"data_train.shape = {data_train.shape}")
print(f"data_test.shape = {data_test.shape}")

data_train.shape = (125973, 43)
data_test.shape = (22544, 43)

In [9]:
data_train.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,outcome,difficulty
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal,20
1,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal,15
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,19
3,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal,21
4,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21

In [10]:
data_test.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,outcome,difficulty
0,0,tcp,private,REJ,0,0,0,0,0,0,...,0.04,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
1,0,tcp,private,REJ,0,0,0,0,0,0,...,0.00,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,0.61,0.04,0.61,0.02,0.0,0.0,0.00,0.00,normal,21
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,1.00,0.00,1.00,0.28,0.0,0.0,0.00,0.00,saint,15
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,0.31,0.17,0.03,0.02,0.0,0.0,0.83,0.71,mscan,11

In [11]:
data_train.describe()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,difficulty
count,125973.00000,1.259730e+05,1.259730e+05,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,...,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000,125973.000000
mean,287.14465,4.556674e+04,1.977911e+04,0.000198,0.022687,0.000111,0.204409,0.001222,0.395736,0.279250,...,115.653005,0.521242,0.082951,0.148379,0.032542,0.284452,0.278485,0.118832,0.120240,19.504060
std,2604.51531,5.870331e+06,4.021269e+06,0.014086,0.253530,0.014366,2.149968,0.045239,0.489010,23.942042,...,110.702741,0.448949,0.188922,0.308997,0.112564,0.444784,0.445669,0.306557,0.319459,2.291503
min,0.00000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.00000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,10.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.000000
50%,0.00000,4.400000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,63.000000,0.510000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000
75%,0.00000,2.760000e+02,5.160000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,255.000000,1.000000,0.070000,0.060000,0.020000,1.000000,1.000000,0.000000,0.000000,21.000000
max,42908.00000,1.379964e+09,1.309937e+09,1.000000,3.000000,3.000000,77.000000,5.000000,1.000000,7479.000000,...,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,21.000000

In [12]:
data_test.describe()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,difficulty
count,22544.000000,2.254400e+04,2.254400e+04,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,...,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000,22544.000000
mean,218.859076,1.039545e+04,2.056019e+03,0.000311,0.008428,0.000710,0.105394,0.021647,0.442202,0.119899,...,140.750532,0.608722,0.090540,0.132261,0.019638,0.097814,0.099426,0.233385,0.226683,18.017965
std,1407.176612,4.727864e+05,2.121930e+04,0.017619,0.142599,0.036473,0.928428,0.150328,0.496659,7.269597,...,111.783972,0.435688,0.220717,0.306268,0.085394,0.273139,0.281866,0.387229,0.400875,4.270361
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,15.000000,0.070000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000
50%,0.000000,5.400000e+01,4.600000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,168.000000,0.920000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000
75%,0.000000,2.870000e+02,6.010000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,255.000000,1.000000,0.060000,0.030000,0.010000,0.000000,0.000000,0.360000,0.170000,21.000000
max,57715.000000,6.282565e+07,1.345927e+06,1.000000,3.000000,3.000000,101.000000,4.000000,1.000000,796.000000,...,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,21.000000

In [13]:
print(f"numbers of protocol_type: {len(data_train['protocol_type'].value_counts())}")
print(f"number of 'service' in train datasets: {len(data_train.service.value_counts())}")
print(f"number of 'flag' in train datasets: {len(data_train['flag'].value_counts())}")

numbers of protocol_type: 3
number of 'service' in train datasets: 70
number of 'flag' in train datasets: 11

In [14]:
print(f"numbers of protocol_type: {len(data_test['protocol_type'].value_counts())}")
print(f"number of 'service' in test datasets: {len(data_test.service.value_counts())}")
print(f"number of 'flag' in test datasets: {len(data_test['flag'].value_counts())}")

numbers of protocol_type: 3
number of 'service' in test datasets: 64
number of 'flag' in test datasets: 11

In [15]:
new_data = pd.concat([data_test['service'].value_counts(), data_train['service'].value_counts()], axis=1)
new_data.columns=['KDDTest+', 'KDDTrain+']

In [16]:
new_data.sort_values(by='KDDTest+', ascending=False).head(10)

          KDDTest+  KDDTrain+
http        7853.0      40338
private     4774.0      21853
telnet      1626.0       2353
pop_3       1019.0        264
smtp         934.0       7313
domain_u     894.0       9043
ftp_data     851.0       6860
other        838.0       4359
ecr_i        752.0       3077
ftp          692.0       1754

In [17]:
from zipfile import ZipFile
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report, multilabel_confusion_matrix
from sklearn.metrics import plot_confusion_matrix, ConfusionMatrixDisplay
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.utils import get_file
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib
sns.set_style("white")

Using matplotlib backend: agg

In [18]:
ax = pd.concat([data_test['service'].value_counts().head(10),data_train['service'].value_counts().head(10)],axis=1).plot(kind='bar')
ax.spines['top'].set_visible(False)
ax.spines['right'].set_visible(False)
plt.legend(['KDDTest+', 'KDDTrain+'])
plt.show()

In [19]:
test_top10 = data_test['service'].value_counts().head(10)
train_top10 = data_train['service'].value_counts().head(10)

In [20]:
fig, ax = plt.subplots()
plt.rcParams['axes.unicode_minus']=False
plt.barh(train_top10.index, -train_top10)
plt.barh(test_top10.index, test_top10)

 #data_train['service'].value_counts().head(10).plot(kind='barh', ax=ax1)
ax.spines['top'].set_visible(False)
ax.spines['right'].set_visible(False)
plt.legend(['KDDTrain+','KDDTest+'])
plt.show()

In [21]:
plt.figure(figsize=(18, 5))
plt.subplot(131)
data_train["protocol_type"].value_counts().plot(kind='bar', label='protocol type')
plt.legend()
plt.subplot(132)
data_train['service'].value_counts().head(10).plot(kind='bar')
plt.legend()
plt.subplot(133)
data_train["flag"].value_counts().plot(kind='bar')
plt.legend()
plt.show()

In [22]:
data_train.outcome.unique()

array(['normal', 'neptune', 'warezclient', 'ipsweep', 'portsweep',
       'teardrop', 'nmap', 'satan', 'smurf', 'pod', 'back',
       'guess_passwd', 'ftp_write', 'multihop', 'rootkit',
       'buffer_overflow', 'imap', 'warezmaster', 'phf', 'land',
       'loadmodule', 'spy', 'perl'], dtype=object)

In [23]:
class_DoS = ['apache2', 'back', 'land', 'neptune', 'mailbomb', 'pod', 
             'processtable', 'smurf', 'teardrop', 'udpstorm', 'worm']
class_Probe = ['ipsweep', 'mscan', 'nmap', 'portsweep', 'saint', 'satan']

class_U2R = ['buffer_overflow', 'loadmodule', 'perl', 'ps', 'rootkit', 'sqlattack', 'xterm']

class_R2L = ['ftp_write', 'guess_passwd', 'httptunnel',  'imap', 'multihop', 'named', 
             'phf', 'sendmail', 'snmpgetattack', 'spy', 'snmpguess', 'warezclient', 
             'warezmaster', 'xlock', 'xsnoop']

In [24]:
data_train['class'] = data_train['outcome']
data_train['class'].replace(class_DoS, value='DoS', inplace=True)
data_train['class'].replace(class_Probe, value='Probe',inplace=True)
data_train['class'].replace(class_U2R, value='U2R',inplace=True)
data_train['class'].replace(class_R2L, value='R2L', inplace=True)
print(data_train['class'].unique())

['normal' 'DoS' 'R2L' 'Probe' 'U2R']

In [25]:
data_train.head(2)

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,outcome,difficulty,class
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.03,0.17,0.0,0.0,0.0,0.05,0.0,normal,20,normal
1,0,udp,other,SF,146,0,0,0,0,0,...,0.60,0.88,0.0,0.0,0.0,0.00,0.0,normal,15,normal

In [26]:
data_test['class'] = data_test['outcome']
data_test['class'].replace(class_DoS, value='DoS', inplace=True)
data_test['class'].replace(class_Probe, value='Probe',inplace=True)
data_test['class'].replace(class_U2R, value='U2R',inplace=True)
data_test['class'].replace(class_R2L, value='R2L', inplace=True)
labels = data_test['class'].unique()
print(labels)

['DoS' 'normal' 'Probe' 'R2L' 'U2R']

In [27]:
#'convert nominal label to numerical ones '''
labels={"normal": 0, "DoS": 1, "Probe": 2, "U2R": 3, "R2L":4}
data_train['label'] = data_train['class'].replace(labels)
data_test['label'] = data_test['class'].replace(labels)
data_train['label'].nunique()

5

In [28]:
pie, ax = plt.subplots(figsize=[10,6])
class_data = data_train['class'].value_counts().sample(frac=1.0)
print(class_data)

ax.pie(x=class_data, labels=class_data.keys(), explode=[0.07]*5, pctdistance=0.4, autopct="%.1f%%")
ax.set_title("Attack Types in NSL-KDD Training set", fontdict={'fontsize': 14})
plt.show()

Probe     11656
DoS       45927
U2R          52
normal    67343
R2L         995
Name: class, dtype: int64

In [29]:
sns.countplot(x=data_test['class'])
plt.show()

In [30]:
data_train = data_train[data_train['class'].isin(['DoS', 'Probe', 'R2L', 'normal'])]
data_test = data_test[data_test['class'].isin(['DoS', 'Probe', 'R2L', 'normal'])]
label_num = len(data_test['class'].unique())
label_num

4

In [31]:
df_train_obj = data_train.iloc[:, :-4].select_dtypes(include='object')
df_train_num = data_train.iloc[:, :-4].select_dtypes(exclude='object')

print(f"shape of numeric features: {df_train_num.shape}")
print(f"shape of object features: {df_train_obj.shape}")

shape of numeric features: (125921, 38)
shape of object features: (125921, 3)

In [32]:
df_test_obj = data_test.iloc[:, :-4].select_dtypes(include='object')
df_test_num = data_test.iloc[:, :-4].select_dtypes(exclude='object')

print(f"shape of numeric features: {df_test_num.shape}")
print(f"shape of object features: {df_test_obj.shape}")

shape of numeric features: (22477, 38)
shape of object features: (22477, 3)

In [33]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
# df_train_obj = df_train.iloc[:,:-3]
df_train_enc = enc.fit_transform(df_train_obj).toarray()
train_enc_features = enc.get_feature_names(input_features=df_train_obj.columns)
df_test_enc = enc.transform(df_test_obj).toarray()
test_enc_features = enc.get_feature_names(input_features=df_test_obj.columns)
# print(len(train_enc_features), len(test_enc_features))
X_train_enc = np.c_[df_train_num, df_train_enc]
X_test_enc = np.c_[df_test_num, df_test_enc]
print(f"X_train_enc shape: {X_train_enc.shape}")
print(f"X_test_enc shape: {X_test_enc.shape}")

X_train_enc shape: (125921, 122)
X_test_enc shape: (22477, 122)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [34]:
scaler = MinMaxScaler()
X_train_scaler = scaler.fit_transform(X_train_enc)
X_test_scaler = scaler.transform(X_test_enc)
X_train_normal = X_train_scaler[data_train['class']=='normal']
X_train_DoS = X_train_scaler[data_train['class']=='DoS']
X_train_Probe = X_train_scaler[data_train['class']=='Probe']
#X_train_U2R = X_train_scaler[df_train['class']=='U2R']
X_train_R2L = X_train_scaler[data_train['class']=='R2L']

X_test_normal = X_test_scaler[data_test['class']=='normal']
X_test_DoS = X_test_scaler[data_test['class']=='DoS']
X_test_Probe = X_test_scaler[data_test['class']=='Probe']
#X_test_U2R = X_test_scaler[df_test['class']=='U2R']
X_test_R2L = X_test_scaler[data_test['class']=='R2L']

In [35]:
print("Normal samples in Training dataset:", X_train_normal.shape)
print(f"DoS samples in Training dataset: {X_train_DoS.shape}")
print(f"Probe samples in Training dataset: {X_train_Probe.shape}")
print(f"R2L samples in Training dataset: {X_train_R2L.shape}")

Normal samples in Training dataset: (67343, 122)
DoS samples in Training dataset: (45927, 122)
Probe samples in Training dataset: (11656, 122)
R2L samples in Training dataset: (995, 122)

In [36]:
print("Normal samples in Test dataset:", X_test_normal.shape)
print(f"DoS samples in Test dataset: {X_test_DoS.shape}")
print(f"Probe samples in Test dataset: {X_test_Probe.shape}")
print(f"R2L samples in Test dataset: {X_test_R2L.shape}")

Normal samples in Test dataset: (9711, 122)
DoS samples in Test dataset: (7460, 122)
Probe samples in Test dataset: (2421, 122)
R2L samples in Test dataset: (2885, 122)

In [39]:
X_train_extract = X_train_scaler.copy()
X_test_extract = X_test_scaler.copy()
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train_extract = le.fit_transform(data_train['class'])
y_test_extract = le.transform(data_test['class'])

X_train_extract

array([[0.00000000e+00, 3.55806412e-07, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 1.05799870e-07, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [0.00000000e+00, 1.61670897e-06, 2.93143779e-07, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 1.09423153e-07, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

In [38]:
from sklearn import metrics
from tensorflow import keras
look_back = X_train_extract.shape[1]
def multiClassModel(units=4, look_back=look_back):
    model = Sequential()
    model.add(Input(shape=(1, look_back)))
    model.add(LSTM(units=50))
    #model.add(Dropout(0.3))
    model.add(Dense(label_num, activation="softmax"))
    model.compile(loss="sparse_categorical_crossentropy", optimizer='Adam' ,metrics=)
    model.summary()
    return model

SyntaxError: ignored

In [ ]:
model = multiClassModel()
X_train_lstm = X_train_extract.reshape(X_train_extract.shape[0], 1, X_train_extract.shape[1])
X_test_lstm = X_test_extract.reshape(X_test_extract.shape[0], 1, X_test_extract.shape[1])
history = model.fit(X_train_lstm, y_train_extract, \
                   epochs=30, batch_size=64, validation_split=0.2)
### check the loss trend of epochs
pd.DataFrame(history.history).plot(kind='line', xlabel='epochs', figsize=(8, 6))
plt.show()